/ListPorts/nbproject/private/
/ListPorts/build/
/ListPorts/dist/
/ComControl/nbproject/private/
/ComControl/build/
/ComControl/dist/
/EjemploRXTX/nbproject/private/
/EjemploRXTX/build/
/EjemploRXTX/dist/
/Ports/nbproject/private/
/Ports/build/
/Ports/dist/
/RWPorts/dist/
/SimpleRead/nbproject/private/
/SimpleRead/dist/
/SimpleRead/build/
/JMS/nbproject/private/
/Fms/nbproject/private/
/Fms/build/
/Fms/dist/
/Test/nbproject/private/
/Test/build/
/Test/dist/
/TestJssc/nbproject/private/
/TestJssc/build/
/MainJssc/nbproject/private/
/MainJssc/build/
/MainJssc/dist/
/TestJssc/dist/